body {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 32px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header
{
    background: url("image/fond.jpg");
    background-size:1000px 190px;
    display: flex;
    justify-content: flex-start;
    margin-bottom:-50px
}


nav 
{
    display: flex;
    align-items: flex-end;
}
ul 
{
	display:flex;
	flex-direction:row;
	justify-content:center;
	list-style:none;
}

li
{
	padding:5px;
}

nav ul li {
    border: solid #083B66;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #4C96D7;
}

a:link
{
    text-decoration:none;
}

li:hover {
    color: red;
}


#corps {
    border-top: solid #083B66;
    margin-top: -17px;
    border-width: 20px;
    background-color: #4C96D7;
    border-bottom: solid #083B66;
}

#produit img
{
    border: solid black;
    margin-left:50px
}

h3 
{
    display: flex;
    justify-content: center;
}


#produit img:hover 
{
    transform:scale(1.2)
}

a:visited
{
    color:black;
}

p
{
    font-size:20px;
}

@media (max-width:480px)
{
    nav ul
{
    display: flex;
    flex-direction: column
}
    header
    {
        background: none;
    }
    
    nav li{display:block;text-align: center}
}