body {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url("image/Chantier.jpg");
    background-size:1850px 1000px;
}

header {
    display: flex;
    justify-content: flex-start;
    margin: -50px;
    margin-left: 50px;
}
