body {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background: url("image/fond.jpg");
    background-size: 1000px 190px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -50px
}

nav {
    display: flex;
    align-items: flex-end;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

li {
    padding: 5px;
}

nav ul li {
    border: solid #083B66;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #4C96D7;
}

a:link {
    text-decoration: none;
}

li:hover {
    color: red;
}

#corps {
    border-top: solid #083B66;
    margin-top: -17px;
    border-width: 20px;
    background-color: #4C96D7;
    border-bottom: solid #083B66;
    display:flex;
}

h3
{
    display:flex;
    justify-content:center
}


table
{
    border: solid #083B66;
}

table tr td 
{
    border-left: solid #083B66;
    border-bottom: solid #083B66;
}

#description {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: 100px;
}

#corps img
{
    border:solid;
    margin:10px;
}

h2:last-child
{
    display:flex;
    border:solid;
    background-color:yellow;
    justify-content:center
}


@media(max-width:480px) {
    #corps {
        display: flex;
        flex-direction: column
    }
    #corps img{
        height:300px;
    }
    #description
    {
        margin:auto
    }
    header
    {
        margin-bottom:-60px
    }
    nav{
        visibility: hidden
    }
}